nodered-flow.json
[{"id":"69f8efebe96a6056","type":"subflow","name":"Notifier","info":"","category":"","in":[{"x":40,"y":200,"wires":[{"id":"5b1752a9dc071522"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"856b21f33c3b0f29","type":"fs-ops-access","z":"69f8efebe96a6056","name":"file exists?","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":true,"throwerror":false,"x":630,"y":40,"wires":[["e602d26e1c62cd14"],["f114455b7e0baf93"]]},{"id":"6c5664b360ecc1bd","type":"function","z":"69f8efebe96a6056","name":"Make Filename","func":"msg.filename = \"/home/pi/tts/\" + msg.payload + \".mp3\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":40,"wires":[["856b21f33c3b0f29"]]},{"id":"e602d26e1c62cd14","type":"function","z":"69f8efebe96a6056","name":"Play File","func":"msg.command = \"mpg123 '\" + msg.filename + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":40,"wires":[["87dbe03143c45714"]]},{"id":"87dbe03143c45714","type":"exec","z":"69f8efebe96a6056","command":"exec","addpay":"command","append":"","useSpawn":"false","timer":"20","winHide":false,"oldrc":false,"name":"Play Sound","x":1030,"y":40,"wires":[[],[],[]]},{"id":"f114455b7e0baf93","type":"function","z":"69f8efebe96a6056","name":"Google Speech","func":"msg.command = \"google_speech '\" + msg.payload + \"' -o '\" + msg.filename + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["40370ca4ed56645f"]]},{"id":"40370ca4ed56645f","type":"exec","z":"69f8efebe96a6056","command":"exec","addpay":"command","append":"","useSpawn":"false","timer":"20","winHide":false,"oldrc":false,"name":"Generate Speech","x":870,"y":100,"wires":[["e602d26e1c62cd14"],[],[]]},{"id":"71d42c9c60e5fbb7","type":"debug","z":"69f8efebe96a6056","name":"Notifier Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":160,"wires":[]},{"id":"b7557eb027e3b485","type":"signalk-send-notification","z":"69f8efebe96a6056","name":"","path":"general","state":"warn","message":"msg.payload","visual":true,"sound":true,"source":"","x":490,"y":220,"wires":[]},{"id":"b50cc3f30bb0a64f","type":"function","z":"69f8efebe96a6056","name":"tts?","func":"if (!msg.payload.noTTS)\n{\n    if (msg.payload.TTS)\n        msg.payload = msg.payload.TTS;\n    else\n        msg.payload = msg.payload.message;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":40,"wires":[["6c5664b360ecc1bd"]]},{"id":"582b911936d647e8","type":"function","z":"69f8efebe96a6056","name":"signalK?","func":"if (!msg.payload.noSignalK)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":220,"wires":[["b7557eb027e3b485"]]},{"id":"51f26a5a453db3c0","type":"function","z":"69f8efebe96a6056","name":"debug?","func":"if (!msg.payload.noDebug)\n{\n    msg.payload = msg.payload.message;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["71d42c9c60e5fbb7"]]},{"id":"b1fc0783c6ff4fdd","type":"function","z":"69f8efebe96a6056","name":"pushover?","func":"if (!msg.payload.noPush && msg.payload.state != 'normal')\n{\n    if (msg.payload.state == 'alert')\n    {\n        msg.priority = 0;\n        msg.sound = 'bugle';\n    }\n    else if (msg.payload.state == 'warn')\n    {\n        msg.priority = 0;\n        msg.sound = 'tugboat';\n    }\n    else if (msg.payload.state == 'alarm')\n    {\n        msg.priority = 1;\n        msg.sound = 'persistent';\n    }\n    else if (msg.payload.state == 'emergency')\n    {\n        msg.priority = 2;\n        msg.sound = 'alien';\n    } \n\n    delete msg.topic;\n    msg.payload = msg.payload.message;\n\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":280,"wires":[["e77463241ee47631"]]},{"id":"e77463241ee47631","type":"pushover","z":"69f8efebe96a6056","name":"","device":"","title":"Phoenix","priority":0,"sound":"","url":"","url_title":"","html":false,"credentials":{},"x":460,"y":280,"wires":[]},{"id":"5b1752a9dc071522","type":"junction","z":"69f8efebe96a6056","x":120,"y":200,"wires":[["51f26a5a453db3c0","b50cc3f30bb0a64f","582b911936d647e8","b1fc0783c6ff4fdd"]]},{"id":"dc58293a9c84ed4a","type":"tab","label":"Watermaker","disabled":false,"info":"","env":[]},{"id":"f77ebb6ef630b8eb","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker State","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"watermaker.spectra.state","source":"","period":1000,"x":750,"y":100,"wires":[["78dd531ed3e91992"]]},{"id":"716f166589be74df","type":"inject","z":"dc58293a9c84ed4a","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["f4f35375d6daa191"]]},{"id":"e3b69f1308aa66f8","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker off","path":"watermaker.spectra.control.stop","source":"","x":680,"y":720,"wires":[]},{"id":"edebb89ea9a3d1b5","type":"inject","z":"dc58293a9c84ed4a","name":"fill tank","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"filltank\"}","payloadType":"json","x":110,"y":100,"wires":[["94d69c009ab0fc12"]]},{"id":"94d69c009ab0fc12","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker on","path":"watermaker.spectra.control.start","source":"","x":380,"y":100,"wires":[]},{"id":"767b356831b07f89","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Port Tank Level","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.freshWater.0.currentLevel","source":"","period":1000,"x":120,"y":780,"wires":[["3ceeaaaa7ca6ed9a"]]},{"id":"3ceeaaaa7ca6ed9a","type":"function","z":"dc58293a9c84ed4a","name":"Running?","func":"var watermaker_state = flow.get('watermaker_state')\n\nif (watermaker_state == 'running')\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":780,"wires":[["2e5dba8d113ba44c","41acb458fc5b0a20","7ac7dbf4af7497fe"]]},{"id":"78dd531ed3e91992","type":"function","z":"dc58293a9c84ed4a","name":"flow.watermaker_state","func":"flow.set('watermaker_state', msg.payload)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":100,"wires":[[]]},{"id":"167d3c0b11628dae","type":"inject","z":"dc58293a9c84ed4a","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["4f384a68077e7fb9"]]},{"id":"4f384a68077e7fb9","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Toggle speed","path":"watermaker.spectra.control.toggleSpeed","source":"","x":400,"y":240,"wires":[]},{"id":"124fe35f8946c657","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker Speed","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"watermaker.spectra.productionSpeed","source":"","period":1000,"x":750,"y":160,"wires":[["b662322e826f6121"]]},{"id":"b662322e826f6121","type":"function","z":"dc58293a9c84ed4a","name":"flow.watermaker_speed","func":"flow.set('watermaker_speed', msg.payload)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":160,"wires":[[]]},{"id":"77b8ea9016b1758c","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Boat Speed","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.speedOverGround","source":"","period":1000,"x":110,"y":1080,"wires":[["8825568155af7153","966b43fe0564a801"]]},{"id":"966b43fe0564a801","type":"function","z":"dc58293a9c84ed4a","name":"Running and Way Too Fast?","func":"var watermaker_state = flow.get('watermaker_state')\n\nvar knots = msg.payload * 1.94384\n\nif (watermaker_state == 'running' && knots > 11)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1220,"wires":[["cb4dbc6ec5824f7f"]]},{"id":"8825568155af7153","type":"function","z":"dc58293a9c84ed4a","name":"Running and Too Fast?","func":"var watermaker_state = flow.get('watermaker_state')\nvar watermaker_speed = flow.get('watermaker_speed')\nvar knots = msg.payload * 1.94384\n\nflow.set('boat_speed', knots)\n\nif (watermaker_state == 'running' && watermaker_speed == 'high' && knots > 9)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1080,"wires":[["f954ca810fe16467"]]},{"id":"285b716a7e051b6f","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Toggle speed","path":"watermaker.spectra.control.toggleSpeed","source":"","x":780,"y":1100,"wires":[]},{"id":"f954ca810fe16467","type":"function","z":"dc58293a9c84ed4a","name":"Rate Limit - 1m","func":"var interval = (1000*60); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1080,"wires":[["285b716a7e051b6f","ef69146e1daf3684"]]},{"id":"cb4dbc6ec5824f7f","type":"function","z":"dc58293a9c84ed4a","name":"Rate Limit - 1m","func":"var interval = (1000*60); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1220,"wires":[["802ca4213ce39e90","fa2895592080a023","e212430574b94032"]]},{"id":"802ca4213ce39e90","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker off","path":"watermaker.spectra.control.stop","source":"","x":800,"y":1220,"wires":[]},{"id":"04b4a07e722929fd","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"var notification = {\n    message: 'Port tank full, done making water',\n    state: 'alert'\n};\n\nmsg.payload = notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":760,"wires":[["4d648c817722bf13"]]},{"id":"f4f35375d6daa191","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker off","path":"watermaker.spectra.control.stop","source":"","x":380,"y":300,"wires":[]},{"id":"2e5dba8d113ba44c","type":"function","z":"dc58293a9c84ed4a","name":"is full?","func":"// 5 minutes to trigger\nvar interval = (1000 * 60 * 5);\nvar trigger = 1.0;\n\n//init first time\ncontext.firstTime = context.firstTime || 0;\n\nvar now = Date.now();\n\n//are we triggered?\nif (msg.payload >= trigger)\n{\n    if (context.firstTime == 0)\n        context.firstTime = now;\n\n    if (now - context.firstTime > interval)\n    {\n        //reset the time to double as rate limiting\n        context.firstTime = now;\n\n        node.status({ fill: \"green\", shape: \"dot\", text: Math.round(msg.payload*100) + \"%\"});\n        return msg;\n    }\n    else\n    {\n        let time_left = Math.round((interval - (now - context.firstTime)) / (1000));\n        let text = \"Waiting: \" + time_left + \" s\";\n        node.status({ text: text});\n        return null;\n    }\n}\n//if we didnt trigger, reset our first time...\nelse\n{\n    context.firstTime = 0;\n    node.status({fill: \"green\", shape: \"ring\", text: Math.round(msg.payload*100) + '%' });\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":780,"wires":[["e3b69f1308aa66f8","04b4a07e722929fd","8a27709c71084234","1b132875fa50303d"]]},{"id":"aaea1963ad447857","type":"inject","z":"dc58293a9c84ed4a","name":"Regular Lookup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":150,"y":580,"wires":[["b68b604742470742"]]},{"id":"388b8c42bee4bf33","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":690,"y":580,"wires":[]},{"id":"2f18b2101312690f","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":830,"y":800,"wires":[]},{"id":"8a27709c71084234","type":"delay","z":"dc58293a9c84ed4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":650,"y":800,"wires":[["2f18b2101312690f"]]},{"id":"fa2895592080a023","type":"delay","z":"dc58293a9c84ed4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":770,"y":1260,"wires":[["1a2f177bde2dca5f"]]},{"id":"1a2f177bde2dca5f","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":930,"y":1260,"wires":[]},{"id":"6a0ffd835d5413fa","type":"inject","z":"dc58293a9c84ed4a","name":"autofill - 1hr","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"autofill\", \"hours\":1}","payloadType":"json","x":130,"y":140,"wires":[["94d69c009ab0fc12"]]},{"id":"bad9c64a009b2f5d","type":"inject","z":"dc58293a9c84ed4a","name":"autofill - 100L","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"autofill\", \"liters\":100}","payloadType":"json","x":130,"y":180,"wires":[["94d69c009ab0fc12"]]},{"id":"ef69146e1daf3684","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"var notification = {\n    message: 'Alert. Too fast, throttling watermaker',\n    state: 'warn'\n};\n\nmsg.payload = notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1060,"wires":[["835b89bdbf73f468"]]},{"id":"e212430574b94032","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"var notification = {\n    message: 'Warning, way too fast, shutting down watermaker',\n    state: 'alarm'\n};\n\nmsg.payload = notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1180,"wires":[["4185c6008acc9197"]]},{"id":"41acb458fc5b0a20","type":"function","z":"dc58293a9c84ed4a","name":"calculate time to full","func":"var watermaker_flowrate = flow.get('watermaker_flowrate');\nvar tank_volume = flow.get('tank_volume');\n\nvar tank_level = parseFloat(msg.payload);\n\nvar liters = tank_volume - (tank_volume * tank_level);\n\nif (watermaker_flowrate > 0)\n{\n    var time_to_go = (liters / watermaker_flowrate) * 60 * 60;\n\n    msg.topic = \"watermaker.spectra.timeToFull\";\n    msg.payload = Math.round(time_to_go);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":920,"wires":[["80ddd10a242752ee"]]},{"id":"199a589be24ad8cf","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker Flowrate","mode":"sendAll","flatten":true,"context":"vessels.self","path":"watermaker.spectra.productWaterFlowrate","source":"","period":1000,"x":760,"y":220,"wires":[["053ac8e4cb358ec8"]]},{"id":"053ac8e4cb358ec8","type":"function","z":"dc58293a9c84ed4a","name":"flow.watermaker_flowrate","func":"flow.set('watermaker_flowrate', msg.payload)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":220,"wires":[[]]},{"id":"80ddd10a242752ee","type":"signalk-send-pathvalue","z":"dc58293a9c84ed4a","name":"watermaker.spectra.timeToFull","source":"","meta":"","x":750,"y":920,"wires":[]},{"id":"7ac7dbf4af7497fe","type":"function","z":"dc58293a9c84ed4a","name":"set autostore to 0","func":"msg.topic = \"watermaker.spectra.timeToAutostore\";\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":980,"wires":[["1b4a7633bdf7d349"]]},{"id":"1b4a7633bdf7d349","type":"signalk-send-pathvalue","z":"dc58293a9c84ed4a","name":"watermaker.spectra.timeToAutostore","source":"","meta":"","x":770,"y":980,"wires":[]},{"id":"4d42a45d13f9c1f6","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Water Tank Volume","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"tanks.freshWater.0.capacity","source":"","period":1000,"x":750,"y":340,"wires":[["0ab8514ccff1be31"]]},{"id":"0ab8514ccff1be31","type":"function","z":"dc58293a9c84ed4a","name":"flow.tank_volume","func":"flow.set('tank_volume', msg.payload * 1000)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":340,"wires":[[]]},{"id":"1b132875fa50303d","type":"function","z":"dc58293a9c84ed4a","name":"time to full = 0","func":"msg.topic = \"watermaker.spectra.timeToFull\";\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":840,"wires":[["d39ae5b3138b28e1"]]},{"id":"d39ae5b3138b28e1","type":"signalk-send-pathvalue","z":"dc58293a9c84ed4a","name":"watermaker.spectra.timeToFull","source":"","meta":"","x":890,"y":840,"wires":[]},{"id":"b78e1bc7611c89de","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":410,"y":360,"wires":[]},{"id":"f76ebfe35146e30f","type":"inject","z":"dc58293a9c84ed4a","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["b78e1bc7611c89de"]]},{"id":"b68b604742470742","type":"function","z":"dc58293a9c84ed4a","name":"Idle?","func":"var watermaker_state = flow.get('watermaker_state')\n\nif (watermaker_state == 'idle')\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":580,"wires":[["388b8c42bee4bf33"]]},{"id":"2270d5663b6d07ab","type":"inject","z":"dc58293a9c84ed4a","name":"Daily Watermaker Run","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":true,"onceDelay":"60","topic":"","payload":"{\"mode\":\"filltank\"}","payloadType":"json","x":170,"y":640,"wires":[["4180df3bb2a31cf2"]]},{"id":"4180df3bb2a31cf2","type":"function","z":"dc58293a9c84ed4a","name":"Ready to make water?","func":"var watermaker_state = flow.get('watermaker_state')\nvar watermaker_filter = flow.get('watermaker_filter')\nvar tank_level = flow.get('tank_level')\nvar boat_speed = flow.get('boat_speed')\nvar soc = flow.get('soc')\nvar navigation_state = flow.get('navigation_state')\n\nif (watermaker_filter < 0.80)\n{\n    node.status({ text: 'Prefilter: ' + Math.round(watermaker_filter * 100) + '%', shape: 'dot', fill: 'red' });\n    return null;\n\n}\n\nif (watermaker_state != 'idle')\n{\n    node.status({text: 'State:' + watermaker_state, shape:'dot', fill: 'red'});\n    return null;\n}\n\nif (tank_level > 0.65)\n{\n    node.status({ text: 'Tank not empty', shape: 'dot', fill: 'red' });\n    return null;\n}\n\nif (navigation_state != 'anchored')\n{\n    node.status({ text: 'Boat moving', shape: 'dot', fill: 'red' });\n    return null;\n}\n\nif (soc < 40)\n{\n    node.status({ text: 'Battery Low', shape: 'dot', fill: 'red' });\n    return null;\n}\n\nnode.status({ text: 'Lets go!', shape: 'dot', fill: 'green' });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":640,"wires":[["f5bb39a6e7ffa556"]]},{"id":"f5bb39a6e7ffa556","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker on","path":"watermaker.spectra.control.start","source":"","x":660,"y":640,"wires":[]},{"id":"d593f5080d057a39","type":"comment","z":"dc58293a9c84ed4a","name":"Local Flow Variables","info":"","x":750,"y":60,"wires":[]},{"id":"3954f5603e891727","type":"comment","z":"dc58293a9c84ed4a","name":"Test Buttons","info":"","x":110,"y":60,"wires":[]},{"id":"4cb122eb019eadf0","type":"comment","z":"dc58293a9c84ed4a","name":"Scheduled flows","info":"","x":120,"y":540,"wires":[]},{"id":"3c1a228919248439","type":"comment","z":"dc58293a9c84ed4a","name":"Automatic Shutoff Logic","info":"","x":150,"y":740,"wires":[]},{"id":"51e4f2c49a5bb249","type":"function","z":"dc58293a9c84ed4a","name":"flow.soc","func":"flow.set('soc', msg.payload * 100)\nnode.status({ text: flow.get('soc') });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":400,"wires":[[]]},{"id":"446a8bf63e407485","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Battery SOC","mode":"sendAll","flatten":true,"context":"vessels.self","path":"electrical.batteries.0.capacity.stateOfCharge","source":"","period":1000,"x":730,"y":400,"wires":[["51e4f2c49a5bb249"]]},{"id":"d8ed6f5b64fd1da1","type":"function","z":"dc58293a9c84ed4a","name":"flow.tank_level","func":"flow.set('tank_level', msg.payload)\nnode.status({ text: flow.get('tank_level') });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":460,"wires":[[]]},{"id":"1ae63a6cd1f5d624","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Port Tank Level","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.freshWater.0.currentLevel","source":"","period":1000,"x":740,"y":460,"wires":[["d8ed6f5b64fd1da1"]]},{"id":"c51b3138715a4ba7","type":"comment","z":"dc58293a9c84ed4a","name":"Overspeed Protection","info":"","x":140,"y":1040,"wires":[]},{"id":"4d648c817722bf13","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"","x":820,"y":760,"wires":[]},{"id":"835b89bdbf73f468","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"","x":940,"y":1060,"wires":[]},{"id":"4185c6008acc9197","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"","x":940,"y":1180,"wires":[]},{"id":"c2494c36453d356b","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Port Tank Level","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.freshWater.0.currentLevel","source":"","period":1000,"x":120,"y":1380,"wires":[["995abd378225d0aa"]]},{"id":"6d1fccdd124bf93d","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Stbd Tank Level","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.freshWater.2.currentLevel","source":"","period":1000,"x":120,"y":1440,"wires":[["7051630c21f6cfd4"]]},{"id":"995abd378225d0aa","type":"function","z":"dc58293a9c84ed4a","name":"is full?","func":"//we are armed to start.\nif (!context.hasOwnProperty(\"armed\"))\n    context.armed = true;\n\n//does our payload hit?\nif (msg.payload >= 0.99 && context.armed)\n{\n    context.armed = false;\n    return msg;\n}\nelse if (msg.payload < 0.80)\n{\n    context.armed = true;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1380,"wires":[["9bd0643689bad395"]]},{"id":"7051630c21f6cfd4","type":"function","z":"dc58293a9c84ed4a","name":"is full?","func":"//we are armed to start.\nif (!context.hasOwnProperty(\"armed\"))\n    context.armed = true;\n\n//does our payload hit?\nif (msg.payload >= 0.99 && context.armed)\n{\n    context.armed = false;\n    return msg;\n}\nelse if (msg.payload < 0.80)\n{\n    context.armed = true;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1440,"wires":[["30635ebf976dcb5b"]]},{"id":"9bd0643689bad395","type":"function","z":"dc58293a9c84ed4a","name":"is not running?","func":"var watermaker_state = flow.get('watermaker_state')\n\nif (watermaker_state != 'running')\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1380,"wires":[["1cc41acdfbdbbfb2"]]},{"id":"1cc41acdfbdbbfb2","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"var notification = {\n    message: 'Port water tank is full.',\n    state: 'alert'\n};\n\nmsg.payload = notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1380,"wires":[["f328431b78f27559"]]},{"id":"f328431b78f27559","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"","x":820,"y":1380,"wires":[]},{"id":"30635ebf976dcb5b","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"var notification = {\n    message: 'Starboard water tank is full.',\n    state: 'alert'\n};\n\nmsg.payload = notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1440,"wires":[["cb6c61d646811929"]]},{"id":"cb6c61d646811929","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"","x":620,"y":1440,"wires":[]},{"id":"7c74dae29b2d586f","type":"comment","z":"dc58293a9c84ed4a","name":"Tank full alerts","info":"","x":110,"y":1340,"wires":[]},{"id":"0eef156d6a5723e0","type":"function","z":"dc58293a9c84ed4a","name":"flow.navigation_state","func":"flow.set('navigation_state', msg.payload)\nnode.status({ text: flow.get('navigation_state') });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":520,"wires":[[]]},{"id":"7778b5b082479d08","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Navigation State","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.state","source":"","period":1000,"x":740,"y":520,"wires":[["0eef156d6a5723e0"]]},{"id":"dc900a2e1021487f","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker Prefilter","mode":"sendAll","flatten":true,"context":"vessels.self","path":"watermaker.spectra.filterCondition","source":"","period":1000,"x":750,"y":280,"wires":[["037492ed53098c85"]]},{"id":"037492ed53098c85","type":"function","z":"dc58293a9c84ed4a","name":"flow.watermaker_filter","func":"flow.set('watermaker_filter', msg.payload)\nnode.status({ text: msg.payload });\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":280,"wires":[[]]},{"id":"92e21981cfe5a742","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker Prefilter","mode":"sendAll","flatten":true,"context":"vessels.self","path":"watermaker.spectra.filterCondition","source":"","period":1000,"x":130,"y":1500,"wires":[["d20602db2ac9cf01"]]},{"id":"13c69f7bdd131514","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"var notification = {\n    message: 'Watermaker filter at ' + Math.round(msg.payload*100) + '%',\n    state: 'warn'\n};\n\nmsg.payload = notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1500,"wires":[["314e721fbceebb8c"]]},{"id":"314e721fbceebb8c","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"","x":680,"y":1500,"wires":[]},{"id":"d20602db2ac9cf01","type":"function","z":"dc58293a9c84ed4a","name":"is clogged?","func":"//we are armed to start.\nif (!context.hasOwnProperty(\"armed\"))\n    context.armed = true;\n\n//does our payload hit?\nif (msg.payload < 0.80 && context.armed)\n{\n    context.armed = false;\n    return msg;\n}\nelse if (msg.payload > 0.95)\n{\n    context.armed = true;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1500,"wires":[["13c69f7bdd131514"]]}]