nodered-flow.json
[{"id":"69f8efebe96a6056","type":"subflow","name":"Text To Speech","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"6c5664b360ecc1bd"},{"id":"71d42c9c60e5fbb7"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"856b21f33c3b0f29","type":"fs-ops-access","z":"69f8efebe96a6056","name":"file exists?","path":"","pathType":"str","filename":"filename","filenameType":"msg","read":true,"write":true,"throwerror":false,"x":410,"y":100,"wires":[["e602d26e1c62cd14"],["f114455b7e0baf93"]]},{"id":"6c5664b360ecc1bd","type":"function","z":"69f8efebe96a6056","name":"make filename","func":"msg.filename = \"/home/pi/tts/\" + msg.payload + \".mp3\";\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":140,"wires":[["856b21f33c3b0f29"]]},{"id":"e602d26e1c62cd14","type":"function","z":"69f8efebe96a6056","name":"Play File","func":"msg.command = \"mpg123 '\" + msg.filename + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":100,"wires":[["87dbe03143c45714"]]},{"id":"87dbe03143c45714","type":"exec","z":"69f8efebe96a6056","command":"exec","addpay":"command","append":"","useSpawn":"false","timer":"20","winHide":false,"oldrc":false,"name":"Play Sound","x":1030,"y":100,"wires":[[],[],[]]},{"id":"f114455b7e0baf93","type":"function","z":"69f8efebe96a6056","name":"Google Speech","func":"msg.command = \"google_speech '\" + msg.payload + \"' -o '\" + msg.filename + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":180,"wires":[["40370ca4ed56645f"]]},{"id":"40370ca4ed56645f","type":"exec","z":"69f8efebe96a6056","command":"exec","addpay":"command","append":"","useSpawn":"false","timer":"20","winHide":false,"oldrc":false,"name":"Generate Speech","x":630,"y":260,"wires":[["e602d26e1c62cd14"],[],[]]},{"id":"71d42c9c60e5fbb7","type":"debug","z":"69f8efebe96a6056","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":220,"wires":[]},{"id":"dc58293a9c84ed4a","type":"tab","label":"Watermaker","disabled":false,"info":"","env":[]},{"id":"f77ebb6ef630b8eb","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker State","mode":"sendAll","flatten":true,"context":"vessels.self","path":"watermaker.spectra.state","source":"","period":1000,"x":130,"y":40,"wires":[["78dd531ed3e91992"]]},{"id":"716f166589be74df","type":"inject","z":"dc58293a9c84ed4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["f4f35375d6daa191"]]},{"id":"e3b69f1308aa66f8","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker off","path":"watermaker.spectra.control.stop","source":"","x":800,"y":540,"wires":[]},{"id":"edebb89ea9a3d1b5","type":"inject","z":"dc58293a9c84ed4a","name":"fill tank","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"filltank\"}","payloadType":"json","x":110,"y":180,"wires":[["94d69c009ab0fc12"]]},{"id":"94d69c009ab0fc12","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker on","path":"watermaker.spectra.control.start","source":"","x":380,"y":220,"wires":[]},{"id":"767b356831b07f89","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Port Tank Level","mode":"sendAll","flatten":true,"context":"vessels.self","path":"tanks.freshWater.0.currentLevel","source":"","period":1000,"x":120,"y":540,"wires":[["3ceeaaaa7ca6ed9a"]]},{"id":"3ceeaaaa7ca6ed9a","type":"function","z":"dc58293a9c84ed4a","name":"Running?","func":"var watermaker_state = flow.get('watermaker_state')\n\nif (watermaker_state == 'running')\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":540,"wires":[["2e5dba8d113ba44c"]]},{"id":"78dd531ed3e91992","type":"function","z":"dc58293a9c84ed4a","name":"flow.watermaker_state","func":"flow.set('watermaker_state', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":40,"wires":[[]]},{"id":"167d3c0b11628dae","type":"inject","z":"dc58293a9c84ed4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["4f384a68077e7fb9"]]},{"id":"4f384a68077e7fb9","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Toggle speed","path":"watermaker.spectra.control.toggleSpeed","source":"","x":340,"y":320,"wires":[]},{"id":"124fe35f8946c657","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Watermaker Speed","mode":"sendAll","flatten":true,"context":"vessels.self","path":"watermaker.spectra.productionSpeed","source":"","period":1000,"x":130,"y":100,"wires":[["b662322e826f6121"]]},{"id":"b662322e826f6121","type":"function","z":"dc58293a9c84ed4a","name":"flow.watermaker_speed","func":"flow.set('watermaker_speed', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[[]]},{"id":"77b8ea9016b1758c","type":"signalk-subscribe","z":"dc58293a9c84ed4a","name":"Boat Speed","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.speedOverGround","source":"","period":1000,"x":110,"y":680,"wires":[["8825568155af7153","966b43fe0564a801"]]},{"id":"966b43fe0564a801","type":"function","z":"dc58293a9c84ed4a","name":"Running and Way Too Fast?","func":"var watermaker_state = flow.get('watermaker_state')\n\nvar knots = msg.payload * 1.94384\n\nif (watermaker_state == 'running' && knots > 11)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":820,"wires":[["cb4dbc6ec5824f7f"]]},{"id":"a89be507a3932e32","type":"function","z":"dc58293a9c84ed4a","name":"Rate Limit - 1m","func":"var interval = (1000*60); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":540,"wires":[["e3b69f1308aa66f8","04b4a07e722929fd","8a27709c71084234"]]},{"id":"8825568155af7153","type":"function","z":"dc58293a9c84ed4a","name":"Running and Too Fast?","func":"var watermaker_state = flow.get('watermaker_state')\nvar watermaker_speed = flow.get('watermaker_speed')\nvar knots = msg.payload * 1.94384\n\nif (watermaker_state == 'running' && watermaker_speed == 'high' && knots > 9)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":680,"wires":[["f954ca810fe16467"]]},{"id":"285b716a7e051b6f","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Toggle speed","path":"watermaker.spectra.control.toggleSpeed","source":"","x":780,"y":700,"wires":[]},{"id":"f954ca810fe16467","type":"function","z":"dc58293a9c84ed4a","name":"Rate Limit - 1m","func":"var interval = (1000*60); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":680,"wires":[["285b716a7e051b6f","c123528ffe339a60"]]},{"id":"65ab94bd8200b214","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"msg.payload = 'Warning, way too fast, shutting down watermaker';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":780,"wires":[["a812551e641931e3"]]},{"id":"a812551e641931e3","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"TTS","x":930,"y":780,"wires":[]},{"id":"c123528ffe339a60","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"msg.payload = 'Warning. Too fast, throttling watermaker';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":660,"wires":[["d19e3f300cc71851"]]},{"id":"d19e3f300cc71851","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"TTS","x":930,"y":660,"wires":[]},{"id":"cb4dbc6ec5824f7f","type":"function","z":"dc58293a9c84ed4a","name":"Rate Limit - 1m","func":"var interval = (1000*60); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":820,"wires":[["65ab94bd8200b214","802ca4213ce39e90","fa2895592080a023"]]},{"id":"802ca4213ce39e90","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker off","path":"watermaker.spectra.control.stop","source":"","x":800,"y":820,"wires":[]},{"id":"04b4a07e722929fd","type":"function","z":"dc58293a9c84ed4a","name":"Say What?","func":"msg.payload = 'Port tank full, done making water';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":500,"wires":[["9c62d8d8efff4e4f"]]},{"id":"9c62d8d8efff4e4f","type":"subflow:69f8efebe96a6056","z":"dc58293a9c84ed4a","name":"TTS","x":930,"y":500,"wires":[]},{"id":"f4f35375d6daa191","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Turn watermaker off","path":"watermaker.spectra.control.stop","source":"","x":320,"y":380,"wires":[]},{"id":"2e5dba8d113ba44c","type":"function","z":"dc58293a9c84ed4a","name":"is full?","func":"// 1 minute to trigger\nvar interval = (1000 * 60 * 5);\nvar trigger = 1.0;\n\n//init first time\ncontext.firstTime = context.firstTime || 0;\n\nvar now = Date.now();\n\n//are we triggered?\nif (msg.payload >= trigger)\n{\n    if (context.firstTime == 0)\n        context.firstTime = now;\n\n    if (now - context.firstTime > interval)\n    {\n        node.status({ fill: \"green\", shape: \"dot\", text: Math.round(msg.payload*100) + \"%\"});\n        return msg;\n    }\n    else\n    {\n        let time_left = Math.round((interval - (now - context.firstTime)) / (1000));\n        let text = \"Waiting: \" + time_left + \" s\";\n        node.status({ text: text});\n        return null;\n    }\n}\n//if we didnt trigger, reset our first time...\nelse\n{\n    context.firstTime = 0;\n    node.status({fill: \"green\", shape: \"ring\", text: Math.round(msg.payload*100) + '%' });\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":540,"wires":[["a89be507a3932e32"]]},{"id":"aaea1963ad447857","type":"inject","z":"dc58293a9c84ed4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":440,"wires":[["388b8c42bee4bf33"]]},{"id":"388b8c42bee4bf33","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":350,"y":440,"wires":[]},{"id":"2f18b2101312690f","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":930,"y":580,"wires":[]},{"id":"8a27709c71084234","type":"delay","z":"dc58293a9c84ed4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":770,"y":580,"wires":[["2f18b2101312690f"]]},{"id":"fa2895592080a023","type":"delay","z":"dc58293a9c84ed4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":770,"y":860,"wires":[["1a2f177bde2dca5f"]]},{"id":"1a2f177bde2dca5f","type":"signalk-send-put","z":"dc58293a9c84ed4a","name":"Lookup stats","path":"watermaker.spectra.control.lookupStats","source":"","x":930,"y":860,"wires":[]},{"id":"6a0ffd835d5413fa","type":"inject","z":"dc58293a9c84ed4a","name":"autofill - 1hr","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"autofill\", \"hours\":1}","payloadType":"json","x":130,"y":220,"wires":[["94d69c009ab0fc12"]]},{"id":"bad9c64a009b2f5d","type":"inject","z":"dc58293a9c84ed4a","name":"autofill - 100L","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"autofill\", \"liters\":100}","payloadType":"json","x":130,"y":260,"wires":[["94d69c009ab0fc12"]]}]